<br>
<h1><center><strong><u>Create Your Article..... </center></strong></u></h1>
<%= render 'form'%>
<br>
<%# <p style= "font-size: 20px; text-align: center;"> %>
   <%# <%= button_to 'Create new article', article_path, action: "create", class: 'btn btn-primary' %>
<%# </p> %>
