@import "bootstrap";
// .navbar {
//     // background-color: #a2deec !important;
//     // height: 45px;
//     margin-bottom: 60px;
//   }  

table, th, td {
  border: 0.5px solid rgb(100, 97, 97);
}
    
.navbar-brand {  
    font-size: 1.20rem;
    font-family: "Avenir Next" !important;
  }
    
h1 {  
    color: lightseagreen;
    text-align: center;
  }

.btn-primary {
  color: #fff;
  /* background-color: #007bff; */
  border-color: #007bff;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 20px; /* Added */
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title_logo {
  border-radius: 5px;
}

.carousel {
  background: none repeat scroll 0 0 rgb(216, 216, 216);
  padding: 0.5%;
  width: 90%;
  height: 500px;
  border-style: solid;
  align-items: center;
  margin: 0 auto;
}

.carousel_inner {
  background-size: cover;
  background-position: center center;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.blockquote-footer {
  font-family: "Avenir Next" !important;
  font-size: 1.5rem;
}