@import "bootstrap";
.navbar {
    // background-color: #a2deec !important;
    height: 45px;
  }  
table, th, td {
  border: 0.5px solid rgb(100, 97, 97);
}
    
.navbar-brand {  
    font-size: 2rem;
  }
    
h1 {  
    color: lightseagreen;
    text-align: center;
  }

.btn-primary {
  color: #fff;
  /* background-color: #007bff; */
  border-color: #007bff;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.jumbotron {
  background-image: asset-url('jumbotron.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
}