@import "bootstrap";
.navbar {
    background-color: #a2deec !important;
  }  
    
.navbar-brand {  
    font-size: 3rem;
  }
    
h1 {  
    color: lightseagreen;
    text-align: center;
  }

.btn-primary {
  color: #fff;
  /* background-color: #007bff; */
  border-color: #007bff;
}